﻿@model PeopleCityCountryViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "";
}

<h1>Admin Section</h1>

<li>
    <a href="/People/Client" class="elements">
        <span>Client Section</span>
    </a>
</li>

<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>Index</title>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.8.10/themes/smoothness/jquery-ui.css" type="text/css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $(document).ready(function () {
            $('#firstName').autocomplete({
                source: '/api/people/search'
            });
        });
    </script>
</head>
<body>


<form asp-controller="People" asp-action="Index" method="get">
    <table class="table">
        <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.People[0].City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.People[0].Country)
            </th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                <select asp-for="PeopleCity" asp-items="Model.City">
                    <option value="">All</option>
                </select>
            </td>
            <td>
                <select asp-for="PeopleCountry" asp-items="Model.Country">
                    <option value="">All</option>
                </select>
            </td>
        </tr>
        </tbody>
    </table>
    <br>
    <input type="text" id="firstName" placeholder="Firstname" asp-for="SearchString"/>
    <input type="submit" value="Filter"/>
</form>


<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.People[0].Firstname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.People[0].Surname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.People[0].MobileNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.People[0].City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.People[0].Country)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.People)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Firstname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MobileNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Country)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>

<p>
    <a asp-action="Create">Create New</a>
</p>
</body>
</html>