﻿@model MvcMovie.Models.People

@{
    ViewData["Title"] = "Edit";
    Layout = "";
}

<script src="/lib/jquery/dist/jquery.js"></script>

<script type="text/javascript">
        $(document).ready(function () {
            var items = "<option value='0'>Select</option>";
            $('#SubCategoryID').html(items);
            $('#ProductID').html(items);
        });
</script>

<script type="text/javascript">  // not used yet. Intended to use for City AJAX
        $(document).ready(function () {
            $('#CategoryID').change(function () {
                var url = '@Url.Content("~/")' + "Demo/GetSubCategory";
                var ddlsource = "#CategoryID";
                $.getJSON(url, { CategoryID: $(ddlsource).val() }, function (data) {
                    var items = '';
                    $("#SubCategoryID").empty();
                    $.each(data, function (i, subcategory) {
                        items += "<option value='" + subcategory.value + "'>" + subcategory.text + "</option>";
                    });
                    $('#SubCategoryID').html(items);
                });
            });

            $('#SubCategoryID').change(function () {
                var url = '@Url.Content("~/")' + "Demo/GetProducts";
                var ddlsource = "#SubCategoryID";
                $.getJSON(url, { SubCategoryID: $(ddlsource).val() }, function (data) {
                    var items = '';
                    $('#ProductID').empty();
                    $.each(data, function (i, product) {
                        items += "<option value='" + product.value + "'>" + product.text + "</option>";
                    });
                    $('#ProductID').html(items);
                });
            });
        });
    </script>

<h1>Edit</h1>

<h4>People</h4>
<hr/>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id"/>
            <div class="form-group">
                <label asp-for="Firstname" class="control-label"></label>
                <input asp-for="Firstname" class="form-control"/>
                <span asp-validation-for="Firstname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Surname" class="control-label"></label>
                <input asp-for="Surname" class="form-control"/>
                <span asp-validation-for="Surname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="alert-danger" asp-validation-summary="ModelOnly"></div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                        <label asp-for="Country" class="control-label"></label>
                        <select asp-for="Country" class="form-control"
                                asp-items="@(new SelectList(@ViewBag.ListofCategory, "Id", "Country"))">
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="City" class="control-label"></label>
                <input asp-for="City" class="form-control"/>
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProfilePic" class="control-label"></label>
                <input asp-for="ProfilePic" class="form-control"/>
                <span asp-validation-for="ProfilePic" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MobileNumber" class="control-label"></label>
                <input asp-for="MobileNumber" class="form-control"/>
                <span asp-validation-for="MobileNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gender" class="control-label"></label>
                <input asp-for="Gender" class="form-control"/>
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control"/>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>