﻿@{
    ViewData["Title"] = "Home Page";
    Layout = "";
}

<li><a href="/People/Client" class="elements"><span>Client Section</span></a></li>
<li><a href="/People/Admin" class="elements"><span>Admin Section</span></a></li>
